body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

    /* תמונת הרקע */
    background: url('tutor-bg.jpg') no-repeat center center fixed;
    background-size: cover;

    /* מבנה */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* שכבת טשטוש מעל התמונה */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px);
    z-index: -1;
}

.login-container {
    background: #ffffffd7;
    padding: 40px 50px;
    border-radius: 18px;
    width: 350px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.logo-box h1 {
    margin-top: 10px;
    font-size: 26px;
    color: #1e3a8a;
    letter-spacing: 1px;
}

.logo {
    width: 150px;
    height: 70px;
}

.login-form {
    margin-top: 25px;
    text-align: right;
}

.login-form label {
    font-weight: bold;
    color: #1e3a8a;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #93c5fd;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.2s;
}

.login-form input:focus {
    border-color: #2563eb;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #1e40af;
}
.error {
    color: #b91c1c;
    background: #fee2e2;
    border: 1px solid #fca5a5;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    display: none; /* מוסתר עד שיש שגיאה */
}
